<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>
        <%= htmlWebpackPlugin.options.title %>
        </title>

        <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">

    </head>

    <body style="display: flex; flex-direction: column; height: 100vh;">
        <h1>Test</h1>
        <div id="dashboard" style="height: 100%">
        </div>
    </body>
</html>
